<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
    		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
			<title>OT Payment Gateway Admin Console</title>
			<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap.css'></link>
			<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
			<!---<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap-theme.css'></link> -->
			<!---<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap-theme.css.map'></link> -->
			<script src = 'jquery/dist/jquery.js'></script>
			<script src = 'bootstrap/dist/js/bootstrap.js'></script>
			<script src = 'datetimepicker/build/jquery.datetimepicker.full.js'></script>
			<script src = 'datetimepicker/jquery.datetimepicker.js'></script>
			<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap-footer.css'></link>
			<link rel = 'stylesheet' href = 'font-awesome/css/font-awesome.css'></link>
			<link rel = 'stylesheet' href = 'datetimepicker/jquery.datetimepicker.css'></link>
			<link rel = 'stylesheet' href = 'sidebar.css'></link>
			<link rel = 'stylesheet' href = 'charts/dist/docs/style.css'></link>
			<script src = 'charts/dist/Chart.js'></script>

			<!-- Navigation tab was not working due to reversed dependency order -->

		</head>
		<body>
			<header id="siteheader" style = 'float: left; width: 100%; position: fixed;'>
				 <div class="navbar navbar-inverse" style = 'margin-top: 0px; margin-bottom: 0px; border-radius: 0px;'>
					<div class="container">
						<div class="navbar-header" style = 'color: #fff; padding-top:12px;'>
							<div id="page-content-wrapper">
					            <div class="container-fluid">
					                <div class="row">
					                    <div class="col-lg-12">
					                       	<a href="#menu-toggle" class="btn btn-warning" id="menu-toggle">Side Menu</a>
					                    </div>
					                </div>
					            </div>
					        </div>
			        <!-- /#page-content-wrapper -->
						</div>
					</div>
 <!-- Page Content -->
			        
				</div>
			</header>
			<main id="sitemain" style = 'float: left;'>

       
			    <div id="wrapper" style = 'float: left;'>

			        <!-- Sidebar -->
			        <div id="sidebar-wrapper" style = 'float: left;'>
			            <ul class="sidebar-nav">
			                <li class="sidebar-brand">
			                    <a href="#">
			                        OT Admin Console
			                    </a>
			                </li>
			                <li>
			                    <a href="#">Dashboard</a>
			                </li>
			                <li>
			                    <a href="#">Settlement</a>
			                </li>
			                <li>
			                    <a href="#">Reconciliation</a>
			                </li>
			                <li>
			                    <a href="#">Transaction</a>
			                </li>
			                <li>
			                    <a href="#">Admin Personnel</a>
			                </li>
			                <li>
			                    <a href="#">Event Log</a>
			                </li>
			                <li>
			                    <a href="#">Contact</a>
			                </li>
			            </ul>
			        </div>
			        <!-- /#sidebar-wrapper -->
				<%- body %>
			       

			    </div>
			    <!-- /#wrapper -->
			</main>
	<footer id="footer" class="clearfix">
      <div id="footer-widgets">

        <div class="container">

        <div id="footer-wrapper">

          <div class="row">
            <div class="col-sm-6 col-md-2">
              <div id="meta-3" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Importent Page :</h4>
              <ul>
    		  <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
			  <li><a href="privacypolicy.php"><i class="fa fa-link"></i>   Privacy Policy</a></li>
			  <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contact Us</a></li>
             </ul>
</div>      </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-2">
              		<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                    <h4 class="widgettitle">Our social media :</h4>
                    <ul>
					<li>
				     <a href="https://www.facebook.com/mr.dauod" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
					</li>
					<li>
				      <a href="https://www.twitter.com/ayatquranCom" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
					</li>
					<li>
				      <a href="http://www.youtube.com/user/sonsofye" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
				   </li>
				</ul>
		</div>            </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-4">
              <div id="meta-4" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Subscribe :</h4>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">E-mail :</span>
                  <input class="form-control" placeholder="Your email .." type="text">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Phone  :</span>
                  <input class="form-control" placeholder="(852) " type="text">
                   <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Subscribe !</button>
                  </span>
                </div>
              </div>


              </div>
             </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-4">
              <div id="search-3" class="widget widgetFooter widget_search"><h3 class="widgettitle">Search in merchants :</h3>

                <div class="form-group">
                                <label class="control-label">Write what you want to search for it  :</label>
                                <div class="input-group">
                                  <span class="input-group-addon">Keyword :</span>
                                  <input class="form-control" placeholder="Keyword for search ..." type="text">
                                   <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search !</button>
                                  </span>
                                </div>
                              </div>

                </div>            </div> <!-- end widget1 -->

          </div> <!-- end .row -->

        </div> <!-- end #footer-wrapper -->

        </div> <!-- end .container -->
      </div> <!-- end #footer-widgets -->

      <div id="sub-floor">
        <div class="container">
          <div class="row">
            <div class="col-md-3 copyright">Copyright OneTransact © 2017</div>
          </div> <!-- end .row -->
        </div>
      </div>

    </footer>
	    <script>
			   $(document).ready(function(){
					$("#menu-toggle").click(function(e) {
				        e.preventDefault();
				        $("#wrapper").toggleClass("toggled");
					});
			   	});
				var option = {
			   		responsive: true,
			    };
			   
			    // Get the context of the canvas element we want to select
			    var ctx = document.getElementById("myChart").getContext('2d');

			    var data = {
			    labels: ["January", "February", "March", "April", "May", "June", "July"],
			    datasets: [
			        {
			            label: "My First dataset",
			            fillColor: "rgba(220,220,220,0.2)",
			            strokeColor: "rgba(220,220,220,1)",
			            pointColor: "rgba(220,220,220,1)",
			            pointStrokeColor: "#fff",
			            pointHighlightFill: "#fff",
			            pointHighlightStroke: "rgba(220,220,220,1)",
			            data: [65, 59, 80, 81, 56, 55, 40]
			        },
			        {
			            label: "My Second dataset",
			            fillColor: "rgba(151,187,205,0.2)",
			            strokeColor: "rgba(151,187,205,1)",
			            pointColor: "rgba(151,187,205,1)",
			            pointStrokeColor: "#fff",
			            pointHighlightFill: "#fff",
			            pointHighlightStroke: "rgba(151,187,205,1)",
			            data: [28, 48, 40, 19, 86, 27, 90]
			        }
			        ]
			    }; 
			    var myLineChart = new Chart(ctx);
	 	</script>
</body>
</html>