<ul class="nav nav-tabs">
				  <li><a href="#hptab" data-toggle='tab'>Home1</a></li>
				  <li><a href="#mer" data-toggle='tab'>Merchant</a></li>
				  <li><a href="#xyz" data-toggle='tab'>Profile</a></li>
				  <li role="presentation"><a href="#" data-toggle='tab'>Messages</a></li>
		</ul>
				<div class="tab-content">
							<div id="hptab" class="tab-pane">
								<h3>Home Pages</h3>
								<p>Home Page Content</p>
							</div>
							<div id="mer" class="tab-pane">
								<h3>merchant Pages</h3>
								<p>merchant Content</p>
							</div>
							<div id="xyz" class="tab-pane">
								<h3>Agent Pages</h3>
								<p>Agent Content</p>
							</div>
				</div>